/* width */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #5e5e5e;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #f4f4f4;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}