<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Zoom - Video Conference</title>
  <link href="https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="./assets/css/reset.css" />
  <link rel="stylesheet" href="./assets/css/main.css" />
</head>
<body>
  <div class="main-container">
    <h1>Zoom</h1>
    <div class="name-div">
      <div class="form-control">
        <input type="text" placeholder="Enter your fullname" id='username' autocomplete="off">
      </div>
      <span class="help-text" id="fullname-help-text"></span>
      <br>
      <button class='btn' onclick="createRoom()">Create Room</button>
    </div>
    <div class="join-div">
      <div class="form-control">
        <input type="text" placeholder="Enter your fullname" id='username-join' autocomplete="off">
      </div>
      <span class="help-text" id="fullname-join-help-text"></span>
      <br>
      <div class="form-control">
        <input type="text" placeholder="Enter conference id" id='conference-id'>
      </div>
      <button class='btn' onclick="joinRoom()">Join Room</button>
    </div>
  </div>
  <script src="./assets/scripts/main.js"></script>
</body>
</html>